<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="peach.princess.my.net.ttluis">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".ui.Base.MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/udi"
            android:supportsRtl="true"
            android:theme="@style/Theme.MyApp">

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@mipmap/ic_launcher" />

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/blue_3" />

        <activity android:name=".LoginActivity"
                  android:theme="@style/SplashTheme"
                  android:screenOrientation="portrait">
        <!--<activity android:name=".LoginActivity"-->
                  <!--android:screenOrientation="portrait">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
                android:name=".data.network.services.FirebaseMessaging"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>



</manifest>